
a.header {
	display: inline;
	text-transform: uppercase;
	color: White;
}

header {
	background-color: rgb(47,47,47);
	text-align: center;
	word-spacing: 80px;
	margin: 0px;
	height: 30px;

}

aside.principal {
	background-image: url("taller1.jpg");
	width: 100%;
	height: 700px;
}

aside.principal div {
	display: inline-block;
	width: 20%
	height: 20%;
	background-color: red;
}

h1.principal {
	color: white;
}

aside#servicios {
	background-image: url("zwartevilt.png");
	color: white;
	/*width: 100%;
	margin: auto;*/
	/*Como hago para centrar el cuadro de texto?*/
}

div.servicios {
	display: inline-block;
	/*width: 100%;*/
}

aside#servicios div {
	display: inline-block;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

aside#nosotros {
	background-image: url("auto1.jpg");
	width: 100%;
	height: 100%;
}

div.nosotros-padre {
	margin: 10px 10px 10px 10px;
	position: relative;
}

div.nosotros {
	background-color: white;
	width: 50%;
	height: 400px;
	margin: auto;
	padding: 10px;
	position: relative;
	top: 50px;
	bottom: 50px;
}

p.nosotros {
	text-align: center;
}

aside#contacto {
	background-image: url("wet_snow.png");
}

fieldset {
	text-align: center;
}